.filters {
  border-top: 4px solid rgb(34, 185, 255);
  padding: 0 24px;
  background: rgb(240, 240, 240);
  box-sizing: border-box;
  max-width: 300px;
}
.panel {
  display: flex;
  flex-direction: column;
}
.panel > * {
  margin-bottom: 4px;
  margin-top: 6px;
}
