.app {
  padding: 40px 20px;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.app-container {
  display: flex;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}

.app-container > * {
  padding-top: 20px;
  padding-bottom: 20px;
}

.color-box {
  width: 16px;
  height: 16px;
}
