.table {
  border-top: 4px solid rgb(32, 253, 150);
  flex-grow: 1;
  height: 650px;
  padding: 0 1rem;
  background: #f7f7f7;
  box-sizing: border-box;
}

.color {
  width: 1rem;
  height: 1rem;
}

.error {
  color: rgb(177, 43, 43);
}
